@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url('https://fonts.cdnfonts.com/css/04b03');
@import url("https://db.onlinewebfonts.com/c/4f9ce8b07e7cdcee83700b0956e242f6?family=Pixel+Maz+Regular"); 

/* Static objects in website */

.logo img {
  height: 50px;
  width: 50px;
  padding: 10px;
  margin: 20px 0 0 0;
}

/* Dark mode styles */

body {
    padding: 25px;
    background-color: #d9d7d6;
    color: black;
    font-size: 25px;
}
  
.dark-mode {
    background-color: #061115;
    color: white;
}

.navbar {
  background-color: #162026;
  display: flex;
  justify-content: space-between;
  font-family: "Pixel Maz Regular", sans-serif;
  font-size: 40px;
  height: 60px;
  align-items: center;
  padding: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #d9d7d6;
}

.box-landscape {
  position: absolute;
  top: 13%;
  left: 6%;
  padding: 20px;
  background-color: #0a1419;
  height: 300px;
  width: 700px;
  box-shadow: -15px 15px 20px #000000;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: row;
}

.box-img2 {
  height: 300px;
  width: 300px;
}

.links {
  height: 264px;
  width: 300px;
  margin: 8px 0 0 50px;
  padding: 10px 20px;
  font-family: "Pixel Maz Regular", sans-serif;
  color: aliceblue;
  font-size: 50px;
  font-weight: 100;
  border-color: #162026;
  border-style: solid;
  border-width: 2px;
}

h4 {
  margin: 3px;
  font-weight: 300;
}

a:hover {
  color: #6791c9;
}

a {
  text-decoration: none;
  color: #d9d7d6;
}

/* Round Button */
.dark-light-button {
  border-radius: 50%; /* Make the button round */
  padding: 10px 20px; /* Adjust padding to your preference */
}

.wrapper {
  background-color: #162026;
  position: relative;
  height: 300px;
  width: 700px;
  margin: 200px auto;
  box-shadow: -10px -10px 30px;
}

.default-box {
  border: 6px solid #00A4BD;
  padding: 10px;
  border-radius: 12px;
}






/* Boxes Showcases */

.title-section {
  text-align: center;
  padding-bottom: 10px;
  color: #e3e3e3;
  font-family: "Pixel Maz Regular", sans-serif;
  font-size: 200px;
  text-shadow: 0 0 10px black;
  font-weight: 600;
  margin: 0 50px;
}

img {
  width: 60px;
  height: 60px;
}

.container {
  display: grid;
  margin: 0 300px;
}

.container__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 30px;
  margin: 0 300px;
}

.container .container__box .box {
  background: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 6px #333;
  text-align: center;
  padding: 100px 150px; /* Adjust padding to make the boxes bigger */
}

.container__heading {
  text-align: center;
  padding-bottom: 15px;
  color: #e3e3e3;
  text-shadow: 0 0 10px black;
  font-size: 50px;
  font-weight: 600;
}

.container .container__box .box h3 {
  color: #444;
  font-size: 20px;
  font-weight: 600;
}

.container .container__box .box p {
  font-size: 14px;
  font-weight: 100;
  color: #555;
}

.container .container__box .box a {
  border-radius: 4px;
  background: #444;
  color: white;
}

.container .container__box .box a:hover {
  background: #908080;
}